@page "/admin/categories/create"
@using FUST.Ecommerce.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, Superuser")]


<h3>Create</h3>

<EditForm EditContext="_editContext" OnValidSubmit="Save">
	<DataAnnotationsValidator />

	<div>
		<label for="txtName">Title:</label>
		<InputText class="form-control"
				   id="txtName"
				   @bind-Value="Input.Name" />
		<ValidationMessage For="@(() => Input.Name)" />
	</div>

	<hr />
	<div style="width:100%">
		<button type="submit" class="btn btn-primary">Insert</button>
		<a href="/admin/categories" class="btn btn-xs btn-secondary">Back to list</a>
	</div>
</EditForm>
<hr />
<p>@StatusConstraints</p>

