@page "/admin/categories/delete/{id:int}"
<h2 id="status">Are you sure?</h2>
<hr />
<div style="width:100%;">
	@if(_operationStatus.HasValue)
	{
		<a class="btn btn-xs btn-secondary" disabled>Yes</a>
	}
	else
	{
		<a class="btn btn-xs btn-secondary"  @onclick=this.DeleteCategory>Yes</a>
	}
	<div style="width:5px; height:auto; display:inline-block;"> </div>
	<a href="/admin/categories/" class="btn btn-xs btn-primary">@ButtonText</a>
</div>
<hr />
@if (_operationStatus is null)
{
	<p>Waiting</p>
} else if (_operationStatus.Value)
{
	<p>Success, item deleted</p>
} else
{
	<p>Operation gone awry, item not found</p>
}
