@page "/admin/upload"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, Superuser")]

<h3>UploadCvs</h3>

	<InputFile OnChange="Upload" class="form-control" style="margin-left: auto;margin-right: auto; width: 50%;" />
	<div style="height:10px"></div>

<hr />

@code {

}
